/* Images Style */

#a11yImg {
    display: block;
    width: 50%;
    margin: 2% auto 0 auto;
}


/* Style necessary */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
    color: whitesmoke;
    background-color: #505050;
}

/* Text Things */

#content {
    margin: 6% 0 2% 0;
    transition: 0.5s
}

#content:hover{
    font-size: 110%;
}

h1, p {
    text-align: center;
}

.text-center {
    width: 65%;
    margin-left: 16%;
}

/* Navbar Style */

.container{
    background-color: #404040;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a img {
    margin: 10px;
    width: 40%;
    border-radius: 20px;
    transition: 1s;
}

nav .logo a img:hover {
    margin-left: 4%;
    width: 45%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 50px;
}

nav ul li a:hover{
    background-color: #737373;
}