img {
    width: 150px;
}

body{
    background-color: darkgreen;
    color: white;
}

a{
    color: rgb(4, 255, 4);
}

p{
    text-align: center;
    font-size: 120%;
}

#Title{
    text-align: center;
    font-size: 240%;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: forestgreen;
    margin-bottom: 15px;
}

#Credits{
    text-align: right;
}