h1:hover{
    padding-left: 10px;
    transition: 1s;
}

body{
    background-color: #1c1c1c !important;
    color: white !important;
}

.center{
    margin-left: 4.5rem !important;
}


h2{
    margin-top: 1em !important;
    margin-left: 1em !important;
}

h2:hover{
    color: #cecdcd;
    padding-left: 10px;
    transition: 1s;
}

.alinha-direita{
    margin-left: 73%;
}

.sectioncenter{
    width: 40rem;
    height: 8rem;
    margin-left: 18rem;
}

footer{
    padding: 2rem 0rem;
}

.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin: 2rem 0rem;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}

.footer-col .medias-socias{
    margin-top: 2em;
    margin-left: 3em;
}

.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}

.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}

.footer-col .form-sub input::placeholder{
    color: white;
}